{% extends 'base.html.twig' %}


{% block body %}

    <h1>Bienvenue dans ce blog !</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorem eaque inventore, odit possimus quis
        vitae! Eum eveniet illo, impedit ipsa laborum nihil nisi reiciendis rem. Assumenda illum maxime quaerat.</p>

{% endblock %}