{% extends 'base.html.twig' %}


{% block body %}
    <article class="p-2">
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2048 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores assumenda beatae commodi
                consectetur cumque delectus, dignissimos dolorum et inventore itaque libero odit officiis porro quae
                quisquam recusandae reiciendis velit!</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eligendi facilis laudantium, maiores
                obcaecati quidem rem veniam! Accusantium beatae consequatur cum delectus dolorem dolorum eligendi
                explicabo, incidunt inventore officiis optio quo quos, recusandae sint ullam vel veritatis vitae
                voluptas! Consequuntur illo incidunt laborum minima, unde veritatis. Eligendi magni placeat
                reiciendis?</p>
        </div>
    </article>
{% endblock %}